/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: 'Open Sans', sans-serif;
}


/* Utils */

.btn{
    background-color: blue;
}

.logo{
    width: 130px;
    display: inline-block;
}

.jumbo-container{
    max-width: 1400px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-weight: 900;
    font-size: 100px;
    padding-bottom: 80px;
    padding-top: 50px;
}

h3{
    padding-top: 150px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 50px;
}

h4{
    font-weight: 600;
    font-size: 20px;
    margin: 30px 0;
}

/*Header*/

#main-header{
    height: 80px;
    background-color: white;
    box-shadow: 0 1px 3px grey;

    position: sticky;
    left: 0;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 30px;
}

/* Large section */

#jumbotron{
    background-color: #B4D0E7 ;
}

.box{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.small-box{
    flex-basis: 30%;
    min-height: 400px;
}

.large-box{
    flex-basis: 70%;
    min-height: 400px;
} 

/*Business Plan*/

.main-container{
    max-width: 1200px;
    margin: 0 auto;
}

#plans{
    min-height: 500px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.g-30{
    gap: 30px;
}

.col{
    border: 1px solid black;
    min-height: 500px;
    flex-basis: calc(100% / 3 - 60px/3);
    margin-top: 30px;
}

.xl-col{
    min-height: 200px;
    width: 100%;
}

.xl-card{
    border: 1px solid black;
    margin: 30px 0;
}

.normal-btn{
    text-decoration: underline;
    color: blue;
}

/*Partner*/
.s-partner{
    min-height: 500px;
    border: 1px solid black;
}

.operations.col{
    border: 1px solid black;
    flex-basis: calc(100% / 6 - 120px/6);
}

.clients{
    flex-basis: calc( 100% / 3);
}

/*Designit*/
.division{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.square{
    width: 50%;
    height: 50%;
    position: relative;
}

.designit{
    background-color: #A2D39B;
}

.asu{
    background-color: #61082B;
}

.uf{
    background-color: #1793CE;
}

.topps{
    background-color: #FE1C1C;
}

.word-bicycle{
    background-color: #D5111E;
}

.hearst{
    background-color: #B4D0E7;
}

.lonely-planet{
    background-color: #0D2481;
}

.clear-channel{
    background-color: #FDD82F;
}

.color-white{
   filter: invert(100%);
   width: 150px;
   position: absolute;
   left: 50%;
   top: 50%;
   translate: -50% -50%;
}

.grey{
    background-color: #F5F5F5;
}

.try-card{
    background-color: #B4D0E7;
    color: #61082B;
}

/*Questions*/

.question{
    display: block;
}

.answer{
    display: none;
}

#dropdown:hover .question{
    display: block;
}

#dropdown:hover .answer{
    display: block;
}

#dropdown{
    margin: 50px 0;
}

/*Footer*/

.f-col{
    flex-basis: calc( 100% / 5);
    flex-wrap: nowrap;
}

footer{
    background-color: #000000;
    color: white;
}

.col a{
    color: white;
    display: block;
    margin: 10px 0;
}